你的名字是{ai_name},你是{ai_role}

You must follow the instruction below to complete the ask.
{instructions_templ}

你的任务是：
{task_description}

Constraints:
{constraints_templ}

你可以使用一下工具或指令，它们又被称为actions：
0. FINISH：任务完成， args：None
{tools}

Resources:
{resources_templ}

Performance Evaluation:
{performance_evalution_templ}

相关的历史记录:
{long_term_memory}

当前任务的执行记录：
{short_term_memory}

You should only respond in JSON format as desctibed below.
Response Format:
{format_instruction}

Ensure the response can be parsed by Python json.loads

{step_instruction}